<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
    <!--Add review form here -->
    <form action="{% url 'djangoapp:registration' %}" method="post">
        <div class="container">
          <h1>Add a review about {{ dealer.full_name }}</h1>
          <hr>
          <label for="review-content"><b>Enter the review content</b></label>
          <br>
          <textarea id="review-content" style="width:90%" placeholder="Enter your review here" required></textarea>
          <br>
          <input type="checkbox" id="has-purchased" onclick="hasPurchasedToggle()" data-toggle="collapse" data-target="#purchase-details" aria-expanded="false" aria-controls="purchase-details">
          <label for="has-purchased">Has purchased a car from {{ dealer.full_name }}? <span class="text-secondary">(select purchased car information below if checked)</span></label>
          <div id="purchase-details">
            <label for="car-select"><b>Select your car (model-make-year): </b></label>
            <select id="car-select" name="car-select">
                {% for car in cars %}
                <option value={{car}}>{{car}}</option>
                {% endfor %}
            </select>
            <br>
            <label for="purchase-date"><b>Select Your Purchase Date:</b></label>
            <br>
            <input id=purchase-date type="Date">
          </div>
          <div>
              {% csrf_token %}
              <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </body>
    <script type="application/javascript">
        purchaseDetailsEl = document.getElementByID("purchase-details")
        hasPurchasedEl = document.getElementByID("has-purchased")

        function hasPurchasedToggle(){
            if(hasPurchasedEl.checked){
                purchaseDetailsEl.style.display == "block"
            }
            else{
                purchaseDetailsEl.style.display == "none"
            }
        }
    </script>
</html>